# 数据集
nuplan_dataset/
*.db

# 模型输出 & 可视化结果
vis_output/
Diffusion-Planner/checkpoints/
Diffusion-Planner/cache/
Diffusion-Planner/data/
Diffusion-Planner/R/
Diffusion-Planner/REPLACE_WITH_TRAIN_SET_PATH/
*.png
*.npz
*.pth

# Python 缓存
__pycache__/
*.py[cod]
*.egg-info/
*.egg
.eggs/

# 日志 & 临时文件
*.log
*.tmp
*.out
/tmp/

# Jupyter
.ipynb_checkpoints/

# 编辑器
.vscode/
.idea/
